@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://unpkg.com/pretendard@1.3.5/dist/web/static/pretendard.css");

body {
  margin: 0;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  @apply w-full h-full;
}

.header {
  @apply flex justify-between items-center gap-3 fixed top-0 left-0 w-full h-20 px-5 border-b bg-white;
}

.cart-status {
  @apply relative;
}

.cart-status .cart-status__badge {
  @apply absolute -top-2 -right-3 w-4 h-4 bg-primary rounded-full text-white text-xs text-center;
}

.logo {
  @apply flex justify-start items-center gap-2 text-primary;
}
.logo svg {
  @apply fill-current;
}
.logo h1 {
  @apply text-4xl font-bold text-inherit;
}

.user {
  @apply shrink-0;
}
.user__profile {
  @apply inline-block overflow-hidden w-10 h-10 rounded-full;
}
.user__name {
  @apply hidden md:inline-block  ml-2 align-middle;
}

.gnb {
  @apply flex justify-start items-center gap-3 ml-auto;
}

.page-container {
  @apply w-full max-w-none pt-20 pb-10;
}
.page-contents {
  @apply w-full max-w-7xl mx-auto;
}

.page-title {
  @apply text-3xl font-semibold text-center;
}

.board--write {
  @apply mt-10 max-w-2xl mx-auto;
}

.board__image {
  @apply w-80 h-auto mx-auto mt-10;
}
.board__image img {
  @apply w-full h-auto;
}

.board__item {
  @apply flex items-center gap-2 w-full;
}

.board__item + .board__item {
  @apply mt-3;
}

.item__label {
  @apply flex-shrink-0 flex-grow-0 basis-28;
}

.inpbox {
  @apply flex-auto block h-10 border-x border-y border-solid border-gray-300;
}

.inpbox__text {
  @apply block w-full h-full px-3;
}

.btnset {
  @apply flex items-center justify-center gap-3 mt-10;
}

.btn {
  @apply h-10 px-3 rounded text-base font-medium transition-opacity;
}
.btn:hover {
  @apply opacity-80;
}

.btn--primary {
  @apply bg-primary text-white;
}

.selectbox {
  @apply flex items-center gap-2;
}
.selectbox .label {
  @apply text-base;
}

.selectbox .select {
  @apply grow border-x border-y border-gray-200 h-10 px-2 outline-none;
}

.message {
  @apply mt-10 text-center;
}

.mainvisual {
  @apply relative flex justify-center items-center flex-col overflow-hidden bg-mainvisual-03 bg-primary bg-no-repeat bg-center bg-cover bg-blend-multiply bg-opacity-60;
  height: 300px;
}

.mainvisual .mainvisual__title {
  @apply text-6xl font-light text-white;
}
.mainvisual .mainvisual__subtitle {
  @apply text-lg mt-2 font-extralight text-white opacity-80;
}

.products {
  @apply w-full p-5;
}

.products__list {
  @apply grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-5;
}

.products__item {
  @apply rounded-md shadow-md;
}

.products__item .item__image {
  @apply w-full h-3/4  overflow-hidden;
}

.products__item .item__image img {
  @apply w-full h-full object-cover transition-transform duration-500 hover:scale-105;
}

.products__item .item__info {
  @apply flex flex-col p-3;
}

.products__item .info__title {
  @apply text-lg font-semibold truncate;
}

.products__item .info__cate {
  @apply text-sm font-semibold truncate;
}

.products__item .info__price {
  @apply text-xl font-bold text-right;
}

.products__detail {
  @apply flex flex-col md:flex-row gap-5 w-full p-5;
}

.products__detail .item__image {
  @apply basis-7/12 w-full;
}

.products__detail .item__info {
  @apply flex flex-col basis-5/12 gap-3 w-full;
}

.products__detail .info__title {
  @apply text-3xl font-bold truncate;
}

.products__detail .info__cate {
  @apply text-sm font-semibold truncate;
}

.products__detail .info__price {
  @apply text-2xl font-bold text-right mt-3;
}

.products__detail .btn--cart {
  @apply w-full;
}
